<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>空气污染对呼吸道的影响</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>
<!--顶部功能条-->

<!--导航-->
<div class="menu_width">
         <div class="menu">
          
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Jibing.html">疾病人群</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="Jibing.html"><i></i>返回列表</a> 2015-01-29</div>
                             <div class="ncl_title"><h1>空气污染对呼吸道的影响</h1></div>
                             <div class="ncl_brief"><i></i>近年来，空气污染日益严重，尤其是发展中国家，已严重威胁人类生存环境和人体健康，许多研究显示与环境污染有关疾病（主要是呼吸道疾病）的发病率和死亡率逐年上升。</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Jibing2.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
                <p>
	近年来，空气污染日益严重，尤其是发展中国家，已严重威胁人类生存环境和人体健康，许多研究显示与环境污染有关疾病（主要是呼吸道疾病）的发病率和死亡率逐年上升。
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Jibing3.jpg" /> 
</p>
<p>
	<strong>一、臭氧（O3）</strong> 
</p>
<p>
	臭氧对人体呼吸道的影响主要是降低FVC（用力肺活量）、FEV1(一秒钟的用力呼气量)、增加呼吸道反应性和肺部不适感觉。其对健康的影响与O3的暴露浓度、暴露时间和人的活动有关。
</p>
<p>
	<strong>二、二氧化硫（SO2）</strong>
</p>
<p>
	SO2对人体呼吸道影响主要包括降低FEV1和增加起到阻力。SO2对哮喘影响与其他污染物不同，SO2能迅速对哮喘病患者的肺功能产生影响，有研究显示，SO2两分钟就可能降低哮喘病患者的肺功能。哮喘病患者对SO2的敏感性较高，在很低的浓度就可引起哮喘症状加重。
</p>
<p>
	<strong>三、二氧化氮（NO2）</strong>
</p>
<p>
	厨房烹调的油烟是氮氧化物的主要来源，在氮氧化物中，对人体危害的主要物质是NO2。
</p>
<p>
	NO2对正常人呼吸道影响较小，但对哮喘患者影响较大。有的研究显示低浓度NO2可增加哮喘病患者气道对冷空气或药物的敏感性，高浓度的NO2可改变哮喘病患者的气道功能，使哮喘症状加重。
</p>
<p>
	<strong>四、总悬浮颗粒（TSP）</strong>
</p>
<p>
	悬浮在空气中的颗粒直径多数为0.02-100um，当颗粒粒径大于2.5um时，主要沉积在人体上呼吸道，而当颗粒小于2.5um时，颗粒物可直接进入细支气管和肺泡管。
</p>
<p>
	研究表明，高浓度的可吸入颗粒物与呼吸功能低下、呼吸道疾病症状加重有关。TSP对人体危害主要是细小颗粒如PM10和PM2.5和附着于表面的金属和有机化合物。这些颗粒物进入肺部组织，有的沉积于气道周围，有的沉积于细支气管和肺泡管，影响肺部组织的弹性，降低呼吸功能。
</p>

           </div>
          
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>