<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>心肺、呼吸道疾病患者应该如何抵御空气污染？</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>
<!--顶部功能条-->

<!--导航-->
<div class="menu_width">
         <div class="menu">
          
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Jibing.html">疾病人群</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="Jibing.html"><i></i>返回列表</a> 2016-10-27</div>
                             <div class="ncl_title"><h1>心肺、呼吸道疾病患者应该如何抵御空气污染？</h1></div>
                             <div class="ncl_brief"><i></i>2012年发表在《美国医药》的研究报告表明，面对空气污染，人类的心脏比肺更脆弱。那么我们怎样才能减少空气污染对心肺造成伤害呢？</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Jibing4.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
            <p>
    2012年发表在《美国医药》的研究报告表明，面对空气污染，人类的心脏比肺更脆弱。那么我们怎样才能减少空气污染对心肺造成伤害呢？
            </p>
<p>
	<strong>一、安装空气净化器、种绿植</strong>
</p>
<p>
	家里有条件的最好安装具有过滤PM2.5颗粒的空气净化器，对祛除PM2.5的效果还是不错的，同时还能增加空气中的相对湿度，呼吸起来会更舒适。　
</p>
<p>
	可以在阳台、露台、室内多种植吸附能力相对较强的绿植，尽量选取大叶种植物，因为叶面积大的、气孔多的，不仅能吸附PM2.5，还能增加空气含氧量。如绿萝、万年青、虎皮兰、常春藤等。
</p>
<p>
	<strong>二、做好室内清洁</strong>
</p>
<P>
	此类人群在室内时间较多，要格外注意清洁卫生，在屋内多用水擦拭桌椅并拖地，因为湿润的空气有助于降低屋内扬尘和细颗粒物在空中的飘浮。此外，使用加湿器、在暖气上放毛巾，用湿毛巾清扫床单、枕头等，都是吸附细小灰尘可取的办法。另外尽量少用空气清新剂或杀虫剂等清洁产品，其中多含醛类、苯类等污染物。
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Jibing5.jpg" /> 
</p>
<p>
床铺卧具应经常暴晒，拍打，对可清洗的卧具如床罩、被套等要经常清洗，并用55℃以上甚至100℃热水烫洗以杀死螨虫。如经济条件许可，应2~5年更换一次卧具。
</p>
<p>
	<strong>三、清淡饮食</strong>
</p>
<p>
	在饮食方面，要注意“六不过”原则：进食不宜过咸、过甜（巧克力）、过腻（动物脂肪），不宜过食多辛、辣等食品，不宜过多食易过敏的蛋白质食物（牛奶、鱼、海鲜等），不宜过饱。
</p>
<p>
多饮水，要注意饮食清淡，多用凉拌、蒸、煮、卤等取代炸、炒、煎。多摄入一些富含维生素C、维生素A、蛋白质等营养素的食物，增强自身的抵抗力。
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Jibing6.jpg" /> 
</p>
<p>
	<strong>四、注意调节情绪，避免过度疲劳</strong>
</p>
<p>
	忧虑、悲伤、过度兴奋甚至大笑也会导致心血管疾病发作。心理脆弱、患有心理障碍的人在这种天气里会感觉心情异常沉重，精神紧张，情绪低落，这类人群在雾天要注意情绪调节。可以听听音乐，做些自己感到愉快的事情。 要保持科学的生活规律，避免过度劳累，保证充足的睡眠，减少心理压力。
</P>
           </div>
          
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>