<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>空气质量检测和防治系统</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
<link href="http://www.pm25.com/css/index.css" rel="stylesheet" type="text/css" />
<link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>

<!--导航-->
<div class="menu_width">
         <div class="menu">
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  class="current"  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
              </ul>
         </div>   
</div>    

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script><div class="abp" style='display:none;top:40px;'>
  <div id="danmu" class="container" style="width:100%;height:290px;"></div>
</div>
<link href="http://www.pm25.com/sea-modules/pm25/danmu/style.min.css" rel="stylesheet" type="text/css" />
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<!--始终固定在最上边的内容显示-->
<div class="banner_index_width">
        <div class="banner_index">             

              <!--[if lte IE 8]> 
              <style type="text/css">
              a.bi_opentanmu{display:none;}
              </style>
              <![endif]--> 
               
              
        </div>
</div>

<!--banner部分-底部-晴-->
<div class="weather_sunny_width">
   <div class="shatan_width">
    <div class="weather_sunny_shatan"><i class="weather_sunny_shatan_content"></i></div>
      </div>
     <div class="weather_sunny">
            <div class="weather_sunny_taiyang"><i class="weather_sunny_taiyang_content"></i></div>
            <div class="weather_sunny_dayun"><i class="weather_sunny_dayun_content"></i></div>
            <div class="weather_sunny_xiaoyun"><i class="weather_sunny_xiaoyun_content"></i></div>
            <div class="weather_sunny_qiqiu"><i id="qiqiu_a"class="weather_sunny_qiqiu_content"></i></div>
            <div class="weather_sunny_dashu"><i class="weather_sunny_dashu_content"></i></div>
            <div class="weather_sunny_xiaoshu"><i class="weather_sunny_xiaoshu_content"></i></div>
            <div class="weather_sunny_xiong"><i class="weather_sunny_xiong_content"></i></div>
            <div class="weather_sunny_yingzi"><i class="weather_sunny_yingzi_content"></i></div>
            <div class="weather_sunny_yugan"><i class="weather_sunny_yugan_content"></i></div>
            <div class="weather_sunny_yugou"><i class="weather_sunny_yugou_content"></i></div>
            <div class="weather_sunny_shuitong"><i class="weather_sunny_shuitong_content"></i></div>
            <div class="weather_sunny_dayu"><i class="weather_sunny_dayu_content"></i></div>
            <div class="weather_sunny_xiaoyu"><i class="weather_sunny_xiaoyu_content"></i></div>
   </div>
</div>

<!--主体内容-->

<div class="index_main_width">
<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"internetke"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->

</body>
</html>