<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>室内空气污染对儿童会造成哪些危害?</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>

<!--导航-->
<div class="menu_width">
         <div class="menu">
             
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Laoren.html">老人小孩</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="/news/cat/17"><i></i>返回列表</a> 2016-08-30</div>
                             <div class="ncl_title"><h1>室内空气污染对儿童会造成哪些危害?</h1></div>
                             <div class="ncl_brief"><i></i>环境污染使人类特别是儿童的智力大大降低!参与研究的伦敦大学教育研究所的威廉斯博士说：“这个结果超出了人们以前的估计，人类的大脑在被人类自己的行为损坏。”所以说，无论从儿童的身体还是智力发育看，室内环境污染对儿童的危害不容忽视。</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Laoren3.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
                <p>
	2001年，英国投资1500万英镑进行的“全球环境变化问题”研究小组，在总结各国科学家的研究报告，进行了大量调查分析之后，公布了一个令人震惊的结论：环境污染使人类特别是儿童的智力大大降低!参与研究的伦敦大学教育研究所的威廉斯博士说：“这个结果超出了人们以前的估计，人类的大脑在被人类自己的行为损坏。”所以说，无论从儿童的身体还是智力发育看，室内环境污染对儿童的危害不容忽视。
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Laoren4.jpg" /> 
</p>
<p>
	1、增加儿童哮喘病的发病率
</p>
<p>
	从美国专家对由于室内空气污染造成的哮喘病调查中可以看到，在美国儿童中，患哮喘病的占美国总人口的12.4%。此病影响到每个年龄段的儿童，65%的儿童不同程度的患有哮喘。世界卫生组织宣布：全世界每年有10万人因为室内空气污染而死于哮喘病，而其中35%为儿童。据统计，我国儿童哮喘患病率为2%-5%，其中1-5岁儿童患病率高达85%!
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Laoren5.jpg" /> 
</p>
<p>
	2、诱发儿童的血液性疾病
</p>
<p>
	越来越多的医学研究证明，环境污染已经成为诱发白血病的主要原因。哈尔滨血液肿瘤研究所去年就收治了1500多例儿童血液病患者。其中白血病患者高达80%，以4岁儿童居多。为什么儿童成了目前白血病的高发人群?该所所长马军说， 除了儿童的免疫功能比较脆弱这一内因之外，室内装修材料散发的有害气体也是“杀手”之一。
</p>

<p>
	3、影响儿童身高的正常发育
</p>
<p>
	儿童的身体正处在生长发育关键期，长期吸入存在烟尘、有害气体、病菌和病毒污染的空气，不仅容易诱发各种疾病，而且将会使儿童身体的各个机能都受到慢性影响，进而影响身高的正常发育。科学家对千余名儿童的长期研究发现，家长每天吸烟的量越大，儿童身高所受的影响越大。
</p>
<p>
	4、导致儿童“多动症”
</p>
<p>
	注意力缺陷多动障碍第一发现是在20世纪，主要表现为注意力不集中和注意时间短暂、活动过度和冲动，常伴有学习困难、品行障碍和适应不良。根据美国哥伦比亚大学公共卫生邮差学院哥伦比亚儿童环境健康中心的一项最新研究发现，污染的环境会使儿童出现注意力缺陷性多动症(ADHD)有关的行为问题的概率增加。这项研究被发表在期刊《公共科学图书馆?综合》上。
</p>
<p>
污染的环境中含有较多的多环芳香烃(PAH)。专家表示，多环芳香烃是食用油加热如炒、烤、炸、煎等后产生的含多个苯环的芳香族化合物，部分染料、塑料和杀虫剂中也有不少，属于持久性有机污染物，已被国际癌症研究中心列为致癌物。它们不容易燃烧，可以长时间留在空气里。它们在被污染的空气中，时刻威胁着宝宝们的健康。他们会长时间停留在空气中，然后被吸入体内，从而增加儿童患多动症的概率。
</p>            </div>
          
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>