<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>老年人怎么防雾霾？</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>
<!--顶部功能条-->

<!--导航-->
<div class="menu_width">
         <div class="menu">
            
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Laoren.html">老人小孩</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="Laoren.html"><i></i>返回列表</a> 2015-11-10</div>
                             <div class="ncl_title"><h1>老年人怎么防雾霾？</h1></div>
                             <div class="ncl_brief"><i></i>老年人由于血压高，抵抗力差，防范意识弱成为了当下空气污染首要的危害对象。到底该如何防范呢？</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Laoren5.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
                <p>
	PM2.5是雾霾中对人体伤害最大的成分，也是诱发各种疾病的源头。直径越小的颗粒越容易直接进入人体，而且无法通过打喷嚏、咳嗽、吐痰等方式排出，会沉积在体内，日积月累，累积到一定量后就有可能导致呼吸道疾病、心血管疾病和神经性疾病。PM2.5对孕妇危害比普通人更大，长期处在高浓度的PM2.5环境中，不仅会影响胎儿智力发育，而且可能导致胎儿发育畸形或者胎停育。
</p>
<p>
	1、佩戴口罩
</p>
	<p style="text-align:center;">
	<img alt="" src="picture/Laoren6.jpg" /> 
</p>
<p>
	虽然戴口罩不好看也不方便，但是口罩可以减少雾霾对人体的伤害，老年人一定要选好一点的口罩随身佩戴。
</p>
<p>
	普通口罩对于2.5微米的空气颗粒基本起不到什么作用，要阻挡PM2.5需要医用N95口罩，其对0.3微米的颗粒能抵挡95%，在PM2.5爆表的天气也能起到一定效果。
</p>
<p>
	要购买正规合格、与自己脸型大小匹配的N95口罩，取下后要等到里面干燥后对折起来以防呼吸的潮气让口罩滋生细菌。
</p>
<p>
	2、卫生清洁
</p>
<p>
	在雾霾天气条件下，家庭应关闭门窗，等到霾散日出的时再开窗换气，选择中午阳光较充足、污染物较少的时候短时间开窗换气。空气净化器的过滤网能够有效吸附有害物质，起到净化空气的作用,减少有害气体进入室内。
</p>
<p>
	老年人出门后进入室内要及时洗脸、漱口、清理鼻腔，去掉身上所附带的污染残留物，以防止PM2.5对人体的危害。
</p>
<p>
	洗脸时最好用温水，利于洗掉脸上的颗粒。清理鼻腔时可以用干净棉签沾水反复清洗，或者反复用鼻子轻轻吸水并迅速擤鼻涕，同时要避免呛咳。除了面部清理外，身体裸露的部分也要清洗。
</p>


<p>
	3、饮食和生活方面
</p>
<p>
	注意保持科学的生活规律，避免劳累过度，清淡饮食少吸烟，多吃些豆腐、牛奶等食品，少吃刺激性食物，不要吃的太饱，必要时可补充一些维生素D。
</p>

</p>            </div>
          
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>