<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>空气污染对敏感体质人群的有什么影响，该如何预防？</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>

<!--导航-->
<div class="menu_width">
         <div class="menu">
          
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Mingan.html">敏感人群</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="Mingan.html"><i></i>返回列表</a> 2015-09-20</div>
                             <div class="ncl_title"><h1>空气污染对敏感体质人群的有什么影响，该如何预防？</h1></div>
                             <div class="ncl_brief"><i></i>很多研究表明,过敏症发病率增加与空气污染密切相关。空气污染又是如何导致过敏的，又该如何预防？</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Mingan2.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
<p>
	<strong>一、敏感体质是什么</strong> 
</p>
<p>
	一般是将容易发生过敏反应和过敏性疾病而又找不到发病原因的人，称之为“敏感体质”。具有“敏感体质”的人可发生各种不同的过敏反应及过敏性疾病，如呼吸系统出现过敏性鼻炎、支气管气喘、咳嗽症状，眼睛瘙痒或红肿；皮肤出现风块疹、湿疹、血管水肿、红斑、瘙痒现象；消化系统则可能产生腹痛、恶心、呕吐、腹泻、消化道出血、口咽部瘙痒有异物感等不适。
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Mingan3.jpg" /> 
</p>
<p>
	<strong>二、空气污染对敏感体质人群的影响</strong>
</p>
<p>
	空气污染与过敏的联系一方面体现在可以直接影响常见致敏原的致敏力。例如：各种空气污染物与花粉相互反应，增强花粉的过敏反应。另外，实验表明，当污染物存在的情况下，大气污染物更易使花粉外壁破碎，易暴露花粉致敏原，使花粉致敏性增加，花粉过敏的发病率增加。另一方面，空气污染会引发呼吸道黏膜损伤，导致呼吸道清除异物的能力下降，从而致使过敏原更容易进入体内。有些空气污染物还能促进人体炎症细胞的增殖和活化，继而增强过敏反应。
</p>

<p>
	<strong>三、哪些污染物会导致过敏加重？</strong>
</p>
<p>
	1.二氧化氮（NO2）
</p>
<p>
	大气NO2的浓度和哮喘发病率增加有密切关系。NO2是城市和工业区域室外空气发生光化学烟雾的前体物，在有阳光和烃类物质时相互作用，产生O3，从而增加过敏原的敏感性。
</p>
<p>
	2.二氧化硫（SO2)
</p>
<p>
	SO2水溶性较强，易被上呼吸道和支气管黏膜的黏液吸收，从而刺激并使气管或支气管收缩，增加气道阻力。人暴露在较高浓度的SO2后，易出现哮喘、气短等症状。
</p>
<p>
	<strong>四、如何预防过敏</strong> 
</p>
<p>
	1. 日常饮食要均衡 
</p>
<p>
	过敏性体质的人应该注意饮食，不要吃油腻、辛辣的食物，也要少吃甜食，这些食物也许会加重过敏症状。多吃含维生素丰富的食物可加强机体免疫能力。椰菜和柑橘可抵抗过敏症，日常生活中应该多吃。多吃热量高的食物，绝对不能吃冰冷的食物。
</p>
<p>
	2. 要有良好的生活习惯
</p>
<p>
	洗脸、刷牙要用热水，经常换洗衣物。经常引起皮肤过敏的枕头、床单、被褥等要经常清洗且晾晒。不要处在花粉浓度高以及刷油漆的地方。要从日常生活中避免接触过敏原。
</p>
<p>
	3. 锻炼身体，增强抵抗力
</p>
<p>
	有规律的适当的做些运动，放松身心，再配合药膳饮食来增强免疫力，对改善过敏性体质有显著效果。
</p> 
<p style="text-align:center;">
	<img alt="" src="picture/Mingan4.jpg" /> 
</p>
<p>
	4. 正确选用护肤品
</p> 
<p>
	过敏性体质的肌肤异常敏感，因此在选择护肤品时一定要慎重。不要使用含有香料、酒精和果酸的产品，对肌肤刺激大，容易引起过敏。
</p>          </div>
          
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>