<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>空气污染可致皮肤提前衰老</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>

<!--导航-->
<div class="menu_width">
         <div class="menu">

              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Mingan.html">敏感人群</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="Mingan.html"><i></i>返回列表</a> 2014-10-11</div>
                             <div class="ncl_title"><h1>空气污染可致皮肤提前衰老</h1></div>
                             <div class="ncl_brief"><i></i>雾霾天能见度小，空气中附着的浮沉、颗粒等污染物总是能跟肌肤亲密接触，难舍难分。更多人一到雾霾天就叫苦不迭惊恐万分，雾霾到底对肌肤伤害有多大？我们又该怎么应对？</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Mingan5.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
                <p>
	雾霾天能见度小，空气中附着的浮沉、颗粒等污染物总是能跟肌肤亲密接触，难舍难分。更多人一到雾霾天就叫苦不迭惊恐万分，雾霾到底对肌肤伤害有多大？我们又该怎么应对？
</p>
<p>
	<strong>一、伤害肌肤的元凶到底是什么？</strong> 
</p>
<p>
	1、空气中的粉尘或颗粒物基本不会伤害肌肤
</p>
<p>
	如果你以为是大颗的粉尘或者颗粒物会渗入肌肤那大可放心，因为皮肤毛孔的分泌是外泄而不是内吸的，所以肌肤对这些污染物有一定的排斥力。而雾霾是“颗粒”的，里面不会溶解也不会动，所以基本上钻不进肌肤内部。
</p>
<p>
	2、自由基才是伤害肌肤的主因
</p>
<p>
	污染物所产生的自由基，才是损害肌肤的元凶。作为污染物诞生的一种有机化合物，它不仅会加速肌肤的衰老，还会引发一系列肌肤问题。另外，环境污染，空气中的二氧化碳多了，呼吸中获得的氧气减少，血液溶氧量下降，运送到全身的氧气也减少，皮肤也会因此“折旧”。
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Mingan6.jpg" /> 
</p>
<p>
	二、雾霾天肌肤问题不断不防护小心毁容
</p>
<p>
	1、冒痘
</p>
<p>
	虽然一些雾霾的颗粒不会进入肌肤深层挡住毛孔，但是，这样的天气更容易生成角质，而且一些可溶于水的脏污是可以停留在肌肤毛孔中，堵塞毛孔通路，肌肤因此谁有不平衡，接连冒痘。
</p>
<p>
	2、过敏
</p>
<p>
	本身秋冬季节肌肤就容易敏感，接二连三的雾霾天更容易聚集侵害肌肤的毒素。而空气中悬浮物与肌肤的摩擦，也同样会导致肌肤过敏。
</p>
<p>
	3、黑头
</p>
<p>
	因为雾霾天气的原因，肌肤角质层变厚，油分积累，毛孔便会长很多黑头，在影响容貌的同时，还让毛孔变粗大，而毛孔变粗变大之后，就再也无法缩小了。
</p>
          </div>
          
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>