<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>空气污染对孕妇及胎儿的危害</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>

<!--导航-->
<div class="menu_width">
         <div class="menu">

              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Yunfu.html">孕妇</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="Yunfu.html"><i></i>返回列表</a> 2016-08-22</div>
                             <div class="ncl_title"><h1>空气污染对孕妇及胎儿的危害</h1></div>
                             <div class="ncl_brief"><i></i>近年来，空气污染已严重影响大众的生活质量。据中国网报道，大气污染会对人体产生多种危害，器官栓塞、急性病、呼吸系统疾病甚至是肺癌等都与空气污染有着紧密的关系。然而，空气污染对人体健康带来的危害远不止这些。</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Yunfu1.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
                <p>
	近年来，空气污染已严重影响大众的生活质量。据中国网报道，大气污染会对人体产生多种危害，器官栓塞、急性病、呼吸系统疾病甚至是肺癌等都与空气污染有着紧密的关系。然而，空气污染对人体健康带来的危害远不止这些。
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Yunfu2.jpg" /> 
</p>
<p>
	1.增加早产风险
</p>
<p>
	据环球网报道，高浓度大气污染对孕妇及腹中胎儿的危害更为明显，孕妇若长期身处高浓度污染的大气之中，早产风险将增加19%，引发怀孕7至10个月的孕妇早产的几率最大。
</p>
<p>
	2、影响胚胎发育
</p>
<p>
	环境污染可能干扰正常胚胎发育过程，美国一项研究显示，母亲孕期内所在环境烟尘污染危害胎儿大脑发育，进而可能影响儿童学习表现。长期处于严重污染的空气环境中，宝宝出生后身上出现焦虑、抑郁及注意力缺陷等症状，其发病几率远高于正常水平，患自闭症的可能性更是普通儿童的两倍！
</p>
<p>
	美国曾经有一项针对孕期空气污染对胎儿影响的研究，研究人员对每位孕妈周围环境的48小时空气样本进行采集，白天采用便携式空气监测器，夜间则把空气监测器置于床边。结果显示，生活在空气污染较为严重的环境下的孕妈，他们娩出的宝宝出生体重降低9%，头围数减少2%，处于空气相对较好环境下的孕妈们娩出的宝宝则没有明显的变化。
</p>

<p>
	3.影响胎儿基因，引发相关疾病。
</p>
<p>
	据中国网报道，环境流行病研究调查中心（CREAL）的最新调查结果表明，如果长期暴露在受污染的环境中，从胚胎时期开始，污染就会对胎儿基因产生影响。环境流行病调查中心负责人霍尔迪也称，若人在胚胎时期就长期暴露在有污染的环境中，将带来严重的后果，可能会导致胎儿发育滞缓、胎儿神经系统障碍、胎儿肥胖超重等问题。
</p>
<p>
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>