<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>准妈妈如何应对空气污染?</title>
<link href="http://www.pm25.com/css/common.css" rel="stylesheet" type="text/css" />
 <link href="http://www.pm25.com/css/news.css" rel="stylesheet" type="text/css" /> <script src="http://www.pm25.com/sea-modules/seajs/seajs/2.2.1/sea.js"></script>
<script src="http://www.pm25.com/sea-modules/conf/common.js"></script>
<!--[if IE]>
<style type="text/css">
.mini_xiaotieshi a:hover{filter:alpha(opacity=100);}
</style>
<![endif]-->
</head>

<body>

<!--导航-->
<div class="menu_width">
         <div class="menu">
         
              <ul class="menu_list">
                    <!---当前页面是哪个栏目，只用在li的class里再加个" current "就行了-->
                    <li class="menu_2"><a  href="Shishi.html"><i></i><span>实时监测</span></a></li>
                    <li class="menu_3"><a  class="current"  href="People.html"><i></i><span>特殊人群</span></a></li>
                    <li class="menu_4"><a  href="Guanyu.html"><i></i><span>关于和反馈</span></a></li>
                    <li class="menu_5"><a  href="logout.html"><i></i><span>我要注销</span></a></li>
                    <div class="clear"></div>
              </ul>
         </div>   
</div>
<!--banner上的阴影-->
<div class="banner_shadow"></div>

<script>
seajs.use(['$'], function(){
$(function(){

  // 头部搜索
  $('.topnav_search_btn').click(function(){
    var str = encodeURI($('.topnav_search_city_text').val());
    window.location = '/so/' + str + '/all';
  });

  $('.topnav_search_city_text').bind("keyup", function(event){
    if(event.keyCode == 13){
      var str = encodeURI($('.topnav_search_city_text').val());
      window.location = '/so/' + str + '/all';
    }
  });

  $(".topnav_sitemap").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_sitemap_active").mouseover(function(){
    $('.topnav_sitemap_active').show();
  }).mouseout(function(){
    $('.topnav_sitemap_active').hide();
  });

  $(".topnav_phone").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });

  $(".topnav_app_active").mouseover(function(){
    $('.topnav_app_active').show();
  }).mouseout(function(){
    $('.topnav_app_active').hide();
  });
  
});
});
</script>
<!--banner部分-->
<div class="banner_newsdetails_width" style=" background-color:#71bb94;">
     <div class="banner_newsdetails">
               <!--面包屑导航-->
               <ul class="crumb">
                      <li><a href="Yunfu.html">孕妇</a><i>&gt;</i></li>
                      <li><span>内容详情</span></li>
               </ul>
               <!--正体内容-->
               <div class="news_content_intro">
                     <div class="news_content_left">
                             <div class="ncl_date"><a href="Yunfu.html"><i></i>返回列表</a> 2014-10-16</div>
                             <div class="ncl_title"><h1>准妈妈如何应对空气污染?</h1></div>
                             <div class="ncl_brief"><i></i>全国各地相继出现雾霾天气，PM2.5也成为大家广泛关注的问题，面对越来越严重的大气污染问题，准妈妈们该如何应对?</div>
                      </div>
                     <div class="news_content_right">
                             <p> <img src="picture/Yunfu3.jpg" /></p>
                    </div>
                    
             </div>
              
     </div>
</div>

<!--主体内容-->
<div class="main_width">
    <div class="main">
        <!--左侧搜索结果列表-->
        <div class="news_researched_left">
            <div class="news_details">
                <p>
	全国各地相继出现雾霾天气，PM2.5也成为大家广泛关注的问题，面对越来越严重的大气污染问题，准妈妈们该如何应对?
</p>

<p>
	1、雾霾天少出门
</p>
<p>
	面对我们无法改变的空气污染问题，我们没办法改变，只能面对现实。建议孕妈们在雾霾天尽量少出门，减少户外的活动，将各种训练、运动都转移到室内进行，当个名副其实的宅妈。但是需要提醒各位孕妈不能因为宅在家里就偷懒不运动。孕妈们可以选择几个较为平缓的运动如慢走、半蹲、简易的瑜伽练习等方式来增加运动量，一方面可以消化孕妈多余的能量，另一方面也是为宝宝的顺利出生做准备。
</p>
<p>
	2、注意个人卫生
</p>
<p>
	孕妈妈一定要注意个人卫生，勤换洗衣服，特别是在外出回来，衣服灰尘等小微粒比较多，最好清洗一下，以免滋生细菌以及感染各种病毒。
</p>
<p>
	3、保持室内空气清新
</p>
<p>
	很多人习惯开窗通风，如果雾霾一整天不散，不建议早晚开窗通风，最好等太阳出来再开窗通风。别把窗户关太紧，有时候家里的油烟味、以及家具散发的各种有害气体对身体的伤害更大。室内空气不流通时，其污染程度比室外严重数十倍，极易引发呼吸道疾病，因此一定要保持室内空气清新。
</p>
<p>
	4、外出时做好防护措施
</p>
<p>
	孕妈妈雾霾天最好不出门，但如果是不得不出门，最好戴上口罩，带口罩可以防止一些尘螨等过敏源进入鼻腔。尽量少去人多拥挤的地方，减少病菌的接触。
</p>
<p>
	在空气污染严重的日子里，避免外出散步，如晨练等，早晨空气中的有害物质会被吸入呼吸道，从而危害孕妈妈的健康，可以选择阳光灿烂的时候，再外出晒太阳、散步。
</p>
<p>
	5、注意饮食多喝水
</p>
<p>
	孕妈妈在雾霾天要多喝水，保持呼吸道黏膜的湿润，另外还有利于促进体内新陈代谢，排除体内毒素。孕妈妈在饮食上宜选择清淡易消化且富含维生素的食物，多吃新鲜蔬菜和水果，这样不仅可补充各种维生素和无机盐，还能起到润肺除燥、祛痰止咳、健脾补肾的作用。
	
</p>
<p style="text-align:center;">
	<img alt="" src="picture/Yunfu4.jpg" /> 
</p>
<p>
	6、注意补充维D
</p>
<p>
	维生素D可以促进人体肠道对钙、磷的吸收和利用，并能维持细胞内外的钙浓度，是补钙时不可忽略的辅助因素。经常晒太阳是人体廉价获得充足有效的维生素D的最好途径。而因为空气污染严重，孕妈妈们减少了外出晒太阳的机会，也就减少了维生素D的吸收。因此，雾霾天孕妈妈一定要注意补充维D。
</p>            </div>
          
             
              
        </div>    
        <div class="clear"></div>
        
    </div>
</div>

</body>
</html>

<script>
seajs.use(['$', 'cookie'], function($, Cookie){
  $(document).ready(function(){
    $(window).scroll(function(){
      var curh = $(document).scrollTop();
      if(curh > 300) {
      $('.quick_item').fadeIn(100);
      }else{
      $('.quick_item').fadeOut(100);
      }
    });
    $('.quick_item_back').click(function(){
    $('html, body').animate({scrollTop:0}, 'slow');});

  });
});
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30089631'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30089631' type='text/javascript'%3E%3C/script%3E"));</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fb3de58f8471ab2214a3e7d885a987266' type='text/javascript'%3E%3C/script%3E"));
</script></div>
<script>
seajs.use(['$', 'switchable', 'dadadan'], function(){
  $(function() {
    var title = encodeURIComponent($('.ncl_title').text());
    var desc = encodeURIComponent($('.ncl_brief').text());
    var url = location.href;
    var pic = $('.litpic').attr('src');
    if(pic != '') {
      pic = 'http://www.pm25.com' + pic;
    }
    $('.nr_share_sina').click(function(){
      window.open('http://v.t.sina.com.cn/share/share.php?appkey=57458049&url='+url+'&title='+desc+'&content=gb2312&pic='+pic+'&ralateUid=5108207785', '绿色呼吸PM2.5', 'height=816, width=768,top=0,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
    $('.nr_share_qzone').click(function(){
      window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+url+'&desc='+desc+'&title='+title, '绿色呼吸PM2.5', 'height=816, width=768,top=,left=500,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
    });
  });
});
</script>